/* FONTS */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* SPECIFICATION */
* {
  box-sizing: border-box;
}
:root {
  /* text */
  --font-size-heading-xl: 5rem;
  --font-size-heading-lg: 3rem;
  --font-size-heading-md: 2rem;
  --font-size-text: 1.5rem;
  --line-height-heading-xl: 1;
  --line-height-heading-lg: 1.083;
  --line-height-text: 1.2;
  /* color */
  --color-light-grey: #f6f6f6;
  --color-orange: #ff6600;
  --color-white: #ffffff;
  --color-dark-grey: #2d2d2d;
  --color-grey: #808080;
  --color-grey-secondary: #c0c0c0;
  --main-gradient: linear-gradient(
    90deg,
    #ff6600 0%,
    #f26659 27%,
    #f06177 37%,
    #e55d97 48%,
    #ca46d2 71%,
    #8d13f9 100%
  );
  /* borders */
  --border-radius-top: 30px 30px 0 0;
  --border-radius-bottom: 0 0 40px 40px;
  --border-radius-around: 30px;
  /* transitions */
  --transition-main: all ease 0.4s;
}
html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}
body {
  color: var(--color-dark-grey);
  font-size: var(--font-size-text);
  font-weight: 400;
  line-height: var(--line-height-text);
}
a {
  color: var(--color-white);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition-main);
}
a:hover {
  color: var(--color-grey-secondary);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* COMPONENTS */
.wrapper {
  max-width: 1780px;
  margin: 0 auto;
}
.button {
  display: inline-block;
  padding: 22px 60px;
  background-color: var(--color-orange);
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}
.button:hover {
  color: var(--color-white);
  background-color: #ff9832;
}
.button:focus-visible {
  outline: 3px solid var(--color-orange);
  outline-offset: 2px;
}
.title {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-heading-lg);
  line-height: var(--line-height-heading-lg);
  text-align: center;
}
.title__accent {
  color: var(--color-orange);
}
.subtitle {
  margin: 0 auto;
  color: var(--color-grey);
  font-size: var(--font-size-heading-md);
  line-height: var(--line-height-text);
  text-align: center;
}
.header__logo-image,
.contacts__link img,
.advantages-item__img img,
.offer-grid__image,
.steps-slide__number img {
  max-width: 100%;
  height: auto;
}

/* HEADER */
.header {
  max-height: 81px;
  position: relative;
  padding: 3px 0;
  background-color: var(--color-dark-grey);
  border-radius: var(--border-radius-bottom);
  transition: var(--transition-main);
}
.header::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-light-grey);
  z-index: -1;
}
.header__nav {
  display: flex;
  gap: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.header__nav-link {
  position: relative;
}
.header__nav-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--color-orange);
  transition: width 0.3s ease;
}
.header__nav-link:hover::after {
  width: 100%;
}
.header__nav .header__contacts {
  display: none;
  position: static;
  transform: none;
}
.header__contacts {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
.header__contacts,
.contacts__social {
  display: flex;
  align-items: center;
  gap: 12px;
}
.contacts__link {
  transition: var(--transition-main);
}
.contacts__link:hover {
  transform: scale(1.2);
}
.contacts__tel {
  font-size: var(--font-size-heading-md);
}
.header__nav-button {
  display: none;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 1;
}
.header__nav-button span {
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
  transition: var(--transition-main);
}
.header--opened .header__nav-button span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.header--opened .header__nav-button span:nth-child(2) {
  background: transparent;
}
.header--opened .header__nav-button span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* OFFER */
.offer {
  background-color: var(--color-light-grey);
  border-radius: var(--border-radius-bottom);
}
.offer-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 56px 0;
}
.offer-grid__decription {
  flex: 0 1 800px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.offer-grid__title {
  font-size: var(--font-size-heading-xl);
  line-height: var(--line-height-heading-xl);
  text-align: left;
}
.offer-grid__subtitle {
  margin: 0;
  position: relative;
  max-width: 525px;
  text-align: left;
  color: var(--color-dark-grey);
}
.offer-grid__subtitle::after {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  position: absolute;
  top: 50%;
  right: -92px;
  transform: translateY(-50%);
  background: url("../assets/images/money_face.webp") no-repeat center / cover;
}
.offer-grid__poster {
  flex: 0 1 850px;
  height: auto;
  position: relative;
}
.offer-grid__poster::before,
.offer-grid__poster::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  background: url("../assets/images/icons/star_icon_rainbow.svg") no-repeat
    center / cover;
}
.offer-grid__poster::before {
  bottom: 87px;
  left: -30px;
  transform: rotate(-10deg);
}
.offer-grid__poster::after {
  top: 105px;
  right: 30px;
  transform: rotate(-15deg);
}
.offer-grid__image {
  object-fit: cover;
}
.offer-tags {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.offer-tags__item {
  width: 280px;
  padding: 20px 13px;
  align-content: center;
  background-color: var(--color-white);
  border-radius: var(--border-radius-top);
  color: var(--color-grey);
  text-align: center;
  font-size: 1.25rem;
}

/* ADVANTAGES */
.advantages {
  margin: 120px auto;
}
.advantages__title {
  max-width: 990px;
  margin-bottom: 40px;
}
.advantages-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 20px;
}
.advantages-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  background-color: var(--color-light-grey);
  border-radius: var(--border-radius-around);
  will-change: transform;
}
.advantages-item__decoration {
  display: block;
  width: 373px;
  height: 294px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  transform: rotate(-20deg) translate(20px, 100px);
  background-color: var(--color-dark-grey);
  z-index: 0;
}
.advantages-item__text {
  flex: 0 1 485px;
  padding: 60px 0 40px 40px;
}
.advantages-item__title {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 25px;
  position: relative;
  font-size: var(--font-size-heading-md);
}
.advantages-item__title img {
  width: 44px;
  height: 44px;
  transform: rotate(20deg);
}
.advantages-item__desc {
  max-width: 402px;
  color: var(--color-grey);
}
.advantages-item__img {
  width: 250px;
  flex: 0 1 364px;
  align-self: flex-end;
  position: relative;
  z-index: 1;
}
.advantages-item__img img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* PRICES */
.prices__title {
  max-width: 700px;
  margin-bottom: 20px;
}
.prices__subtitle {
  max-width: 1085px;
  margin-bottom: 60px;
}
.swiper-backface-hidden .swiper-slide.prices-item {
  display: flex;
  height: auto;
  padding: 40px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-light-grey);
  border-radius: var(--border-radius-around);
  contain: layout style paint;
}
.swiper-backface-hidden
  .swiper-slide.prices-item.prices-item--dark.prices-item {
  background-color: var(--color-dark-grey);
  color: var(--color-white);
}
.prices-item__badge {
  display: inline-block;
  margin-bottom: 30px;
  padding: 10px 20px;
  position: relative;
  border-radius: 20px;
  border: 1px solid var(--color-dark-grey);
  font-size: var(--font-size-heading-md);
}
.prices-item--dark .prices-item__badge {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-color: var(--color-white);
}
.prices-item__badge::after {
  content: "";
  display: block;
  width: 56px;
  height: 56px;
  position: absolute;
  top: 0;
  right: -76px;
  background: url("../assets/images/icons/star_icon_dark.svg") no-repeat center /
    cover;
}
.prices-item--dark .prices-item__badge::after {
  background: url("../assets/images/icons/star_icon_light.svg") no-repeat center /
    cover;
}
.prices-item__title {
  margin-bottom: 20px;
  text-align: left;
  font-size: 2.25rem;
}
.prices-item__price {
  background: var(--main-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.prices-item__desc {
  max-width: 425px;
  margin-bottom: 30px;
  color: var(--color-grey);
}
.swiper-backface-hidden
  .swiper-slide.prices-item:first-child
  .prices-item__desc {
  max-width: 300px;
}
.swiper-backface-hidden
  .swiper-slide.prices-item:nth-child(2)
  .prices-item__desc {
  max-width: 360px;
}
.swiper-backface-hidden
  .swiper-slide.prices-item:last-child
  .prices-item__desc {
  max-width: 330px;
}
.prices-item__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.prices-item__feature {
  position: relative;
  padding-left: 40px;
}
.prices-item__feature::before {
  content: "";
  display: block;
  width: 28px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../assets/images/icons/checkmark_dark.svg") no-repeat center /
    contain;
}
.prices-item--dark .prices-item__feature::before {
  background: url("../assets/images/icons/checkmark_light.svg") no-repeat center /
    contain;
}
.prices-item__button {
  width: 100%;
}

/* STEPS */
.steps {
  margin: 120px auto;
  padding: 80px 0;
  background-color: var(--color-light-grey);
  border-radius: var(--border-radius-around);
}
.steps__title {
  margin-bottom: 60px;
}
.swiper-backface-hidden .swiper-slide.steps-slide {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 150px;
}
.steps-slide__info {
  flex: 0 1 600px;
}
.steps-slide__number {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
  font-size: var(--font-size-heading-xl);
}
.steps-slide__title {
  text-align: left;
}
.steps-slide__text {
  margin-top: 25px;
  flex: 0 1 730px;
}
.steps-slide__desc:not(:last-child) {
  margin-bottom: 20px;
}
.swiper-pagination-horizontal.steps-slider__pagination {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 60px;
}
.swiper-pagination-horizontal.steps-slider__pagination
  .swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 50%;
  background-color: #dbdbdb;
  opacity: 1;
}
.swiper-pagination-horizontal.steps-slider__pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-orange);
}

/* FOOTER */
.footer {
  padding: 80px 0;
  color: var(--color-white);
  background-color: var(--color-dark-grey);
  border-radius: var(--border-radius-top);
  text-align: center;
}
.footer__title {
  margin-bottom: 20px;
  font-size: var(--font-size-heading-md);
}
.footer__desc {
  margin-bottom: 40px;
}
.footer__list,
.footer__item {
  color: var(--color-grey);
  font-size: 1.25rem;
}

/* ADAPTIVE */
@media screen and (max-width: 1780px) {
  .wrapper {
    width: 100%;
    max-width: none;
    padding: 0 20px;
  }
  .offer-grid__poster::before {
    left: -10px;
  }
  .offer-grid__poster::after {
    top: 80px;
  }
  .prices.wrapper {
    padding: 0;
  }
  .steps.wrapper {
    padding: 80px 20px;
  }
}
@media screen and (max-width: 1500px) {
  .contacts__tel,
  .footer__title {
    font-size: var(--font-size-text);
  }
  .header__nav {
    gap: 20px;
    left: 300px;
    transform: translateY(-50%);
  }
  .offer-grid__poster::before {
    left: 0;
    bottom: 20px;
  }
  .offer-grid__poster::after {
    top: 0;
  }
  .advantages-item__decoration {
    right: -40px;
  }
}
@media screen and (max-width: 1240px) {
  :root {
    --font-size-heading-xl: 4rem;
    --font-size-heading-lg: 2.5rem;
    --font-size-heading-md: 1.5rem;
    --font-size-text: 1.2rem;
  }
  .header__nav {
    left: 270px;
  }
  .contacts__link img {
    width: 30px;
    height: 30px;
  }
  .offer-grid__subtitle::after {
    right: 0;
  }
  .offer-tags__item {
    padding: 12px;
    font-size: 1rem;
  }
  .advantages,
  .steps {
    margin: 60px auto;
  }
  .advantages__title {
    max-width: 650px;
  }
  .advantages-grid {
    gap: 10px;
  }
  .advantages-item__text {
    padding: 30px 0 30px 30px;
  }
  .advantages-item__title {
    gap: 10px;
    align-items: center;
    margin-bottom: 0;
  }
  .advantages-item__title span {
    flex-shrink: 0;
  }
  .advantages-item__img {
    width: 200px;
  }
  .advantages-item__decoration {
    display: none;
  }
  .prices__title {
    max-width: 550px;
  }
  .prices__subtitle {
    max-width: 720px;
  }
  .swiper-backface-hidden
    .swiper-slide.prices-item:first-child
    .prices-item__desc,
  .swiper-backface-hidden
    .swiper-slide.prices-item:nth-child(2)
    .prices-item__desc,
  .swiper-backface-hidden
    .swiper-slide.prices-item:last-child
    .prices-item__desc {
    max-width: 100%;
  }
  .prices-item__title {
    font-size: 2rem;
  }
  .steps-slide__number {
    gap: 20px;
  }
  .steps-slide__number img {
    width: 55px;
    height: 55px;
  }
  .swiper-pagination-horizontal.steps-slider__pagination {
    gap: 10px;
  }
  .swiper-pagination-horizontal.steps-slider__pagination
    .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
  }
  .footer {
    padding: 40px 0;
  }
  .footer__list,
  .footer__item {
    font-size: 1rem;
  }
}
@media screen and (max-width: 990px) {
  :root {
    --font-size-heading-xl: 3rem;
    --font-size-heading-lg: 2rem;
    --font-size-heading-md: 1.2rem;
    --font-size-text: 1rem;
  }
  .header--opened {
    max-height: 300px;
  }
  .header__nav {
    position: static;
  }
  .header__nav {
    flex: 0 0 100%;
    padding: 0 40px 40px 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    flex-direction: column;
    align-items: flex-end;
    transform: none;
    background-color: var(--color-dark-grey);
    border-radius: var(--border-radius-bottom);
    z-index: 1;
    transition: var(--transition-main);
  }
  .header--opened .header__nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .header__nav-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__contacts {
    top: 40px;
    right: 70px;
  }
  .offer-grid {
    max-width: 790px;
    margin: 0 auto;
    flex-direction: column;
  }
  .offer-grid__subtitle {
    max-width: 400px;
  }
  .offer-grid__subtitle::after {
    width: 45px;
    height: 45px;
  }
  .offer-grid__decription {
    align-self: flex-start;
  }
  .offer-grid__decription,
  .offer-grid__poster {
    flex: 0 0 auto;
  }
  .offer-tags {
    padding-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .offer-tags__item {
    border-radius: var(--border-radius-around);
  }
  .advantages-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .advantages-item__img {
    flex: 0 0 auto;
  }
  .prices__title {
    max-width: 490px;
  }
  .prices__subtitle {
    max-width: 520px;
    margin-bottom: 30px;
    padding: 0 20px;
  }
  .prices-item__title {
    font-size: 1.8rem;
  }
  .swiper-backface-hidden .swiper-slide.steps-slide {
    padding: 0;
  }
  .steps-slide__number img {
    width: 40px;
    height: 40px;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer__list,
  .footer__item {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 610px) {
  .offer-tags {
    flex-direction: column;
  }
  .offer-tags__item:nth-child(2n - 1) {
    align-self: flex-start;
  }
  .offer-tags__item:nth-child(2n) {
    align-self: flex-end;
  }
}
@media screen and (max-width: 570px) {
  .header__nav .header__contacts {
    display: flex;
    align-self: center;
  }
  .header__contacts {
    display: none;
  }
  .offer-grid {
    padding: 30px 0;
  }
  .advantages.wrapper {
    padding: 0;
  }
  .advantages-item__img {
    width: 150px;
  }
  .steps.wrapper {
    padding: 40px 20px;
  }
  .swiper-backface-hidden .swiper-slide.steps-slide {
    flex-direction: column;
    gap: 0;
  }
  .steps-slide__info,
  .steps-slide__text {
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 480px) {
  :root {
    --font-size-heading-xl: 2.3rem;
    --font-size-heading-lg: 1.8rem;
    --font-size-heading-md: 1.2rem;
    --font-size-text: 1rem;
  }
  .offer-grid__decription {
    gap: 20px;
  }
  .offer-grid__title {
    max-width: 400px;
  }
  .offer-grid__subtitle {
    max-width: 320px;
  }
  .offer-grid__subtitle::after {
    right: -45px;
  }
  .prices__title {
    max-width: 420px;
  }
  .swiper-backface-hidden .swiper-slide.prices-item {
    padding: 20px;
  }
  .footer__desc {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 400px) {
  .offer-grid__subtitle::after {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  :root {
    --font-size-heading-xl: 2rem;
  }
}
